In [39]:
import pandas as pd
import numpy as np

In [3]:
path1 = "Resources/artistDf.csv"
path2 = "Resources/billboardHot100_1999-2019.csv"
path3 = "Resources/songAttributes_1999-2019.csv"

In [4]:
artists = pd.read_csv(path1)
billboard = pd.read_csv(path2)
attributes = pd.read_csv(path3)

In [110]:
artists_df = artists[['Artist', 'Followers', 'Genres', 'NumAlbums', 'YearFirstAlbum', 'Group.Solo']]
artists_df=artists_df.sort_values(by='Followers', ascending=False)
artists_df=artists_df.reset_index(drop=True)
artists_df.head()

,Artist,Followers,Genres,NumAlbums,YearFirstAlbum,Group.Solo
0,Ed Sheeran,52698756,"pop,uk pop",8,2011,Solo
1,Drake,41420478,"canadian hip hop,canadian pop,hip hop,pop rap,...",11,2010,Solo
2,Rihanna,34436700,"barbadian pop,dance pop,pop,post-teen pop,r&b,...",16,2005,Solo
3,Justin Bieber,30711450,"canadian pop,dance pop,pop,post-teen pop",10,2009,Solo
4,Eminem,30220119,"detroit hip hop,g funk,hip hop,rap",12,1999,Solo

In [113]:
artists_DF = artists_df.loc[artists_df['Group.Solo'] == 'Group']
artists_DF = artists_DF.sort_values(by='Followers', ascending = False)
artists_DF.head(6)

,Artist,Followers,Genres,NumAlbums,YearFirstAlbum,Group.Solo
7,Play,22458057,"permanent wave,pop",3,2003,Group
8,Coldplay,22458057,"permanent wave,pop",10,2000,Group
10,Queen,20501475,"glam rock,rock",28,1973,Group
12,Maroon 5,20445189,pop,11,2002,Group
19,twenty one pilots,14842963,"indie pop,pop punk,rock",5,2009,Group
20,Guns N' Roses,14174998,"glam metal,hard rock,rock",6,1987,Group

In [116]:
artists_hmtl = artists_DF.head(6).to_html(index=False)
print(artists_hmtl)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Artist</th>
      <th>Followers</th>
      <th>Genres</th>
      <th>NumAlbums</th>
      <th>YearFirstAlbum</th>
      <th>Group.Solo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Play</td>
      <td>22458057</td>
      <td>permanent wave,pop</td>
      <td>3</td>
      <td>2003</td>
      <td>Group</td>
    </tr>
    <tr>
      <td>Coldplay</td>
      <td>22458057</td>
      <td>permanent wave,pop</td>
      <td>10</td>
      <td>2000</td>
      <td>Group</td>
    </tr>
    <tr>
      <td>Queen</td>
      <td>20501475</td>
      <td>glam rock,rock</td>
      <td>28</td>
      <td>1973</td>
      <td>Group</td>
    </tr>
    <tr>
      <td>Maroon 5</td>
      <td>20445189</td>
      <td>pop</td>
      <td>11</td>
      <td>2002</td>
      <td>Group</td>
    </tr>
    <tr>
      <td>twenty one pilots</td>
      <td>14842963</td>
      <td>indie pop,pop punk,rock</td>
      <td>5</td>
      <td>2009</td>
      <td>Group</td>
    </tr>
    <tr>
      <td>Guns N' Roses</td>
      <td>14174998</td>
      <td>glam metal,hard rock,rock</td>
      <td>6</td>
      <td>1987</td>
      <td>Group</td>
    </tr>
  </tbody>
</table>

In [80]:
artists_hmtl = artists_df.head().to_html(index=False)
print(artists_hmtl)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Artist</th>
      <th>Followers</th>
      <th>Genres</th>
      <th>NumAlbums</th>
      <th>YearFirstAlbum</th>
      <th>Group.Solo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ed Sheeran</td>
      <td>52698756</td>
      <td>pop,uk pop</td>
      <td>8</td>
      <td>2011</td>
      <td>Solo</td>
    </tr>
    <tr>
      <td>Drake</td>
      <td>41420478</td>
      <td>canadian hip hop,canadian pop,hip hop,pop rap,rap,toronto rap</td>
      <td>11</td>
      <td>2010</td>
      <td>Solo</td>
    </tr>
    <tr>
      <td>Rihanna</td>
      <td>34436700</td>
      <td>barbadian pop,dance pop,pop,post-teen pop,r&amp;b,urban contemporary</td>
      <td>16</td>
      <td>2005</td>
      <td>Solo</td>
    </tr>
    <tr>
      <td>Justin Bieber</td>
      <td>30711450</td>
      <td>canadian pop,dance pop,pop,post-teen pop</td>
      <td>10</td>
      <td>2009</td>
      <td>Solo</td>
    </tr>
    <tr>
      <td>Eminem</td>
      <td>30220119</td>
      <td>detroit hip hop,g funk,hip hop,rap</td>
      <td>12</td>
      <td>1999</td>
      <td>Solo</td>
    </tr>
  </tbody>
</table>

In [75]:
attributes_df = attributes[['Artist','Name','Duration','Popularity', 'Acousticness', 'Danceability', 'Energy', 'Instrumentalness', 'Liveness', 'Loudness', 'Speechiness', 'Tempo', 'Valence']]
attributes_df = attributes_df.round(decimals=2)
attributes_df.sample(n = 5).reset_index(drop=True)

,Artist,Name,Duration,Popularity,Acousticness,Danceability,Energy,Instrumentalness,Liveness,Loudness,Speechiness,Tempo,Valence
0,t.A.T.u.,Shto Ne Hvataet - Russian Version,265600,22,0.47,0.53,0.94,0.00,0.13,-5.44,0.13,199.93,0.58
1,Willie Nelson,Blue Eyes Crying In the Rain,139760,23,0.94,0.59,0.08,0.01,0.11,-16.13,0.04,116.94,0.44
2,Fuel,Not This Time,212053,13,0.00,0.35,0.98,0.01,0.03,-2.68,0.09,177.94,0.51
3,Juvenile,Mamma Got Ass,269537,31,0.03,0.81,0.74,0.00,0.06,-5.08,0.21,96.94,0.69
4,R.E.M.,West Of The Fields - 1983 / Live In Toronto,186120,11,0.00,0.27,0.90,0.01,0.42,-6.20,0.12,163.15,0.61

In [76]:
attributes_hmtl = attributes_df.sample(n = 5).reset_index(drop=True).to_html()
print(attributes_hmtl)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Artist</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Popularity</th>
      <th>Acousticness</th>
      <th>Danceability</th>
      <th>Energy</th>
      <th>Instrumentalness</th>
      <th>Liveness</th>
      <th>Loudness</th>
      <th>Speechiness</th>
      <th>Tempo</th>
      <th>Valence</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Regina Spektor</td>
      <td>Whisper</td>
      <td>44813</td>
      <td>27</td>
      <td>0.01</td>
      <td>0.63</td>
      <td>0.03</td>
      <td>0.00</td>
      <td>0.09</td>
      <td>-31.18</td>
      <td>0.23</td>
      <td>90.63</td>
      <td>0.24</td>
    </tr>
    <tr>
      <th>1</th>
      <td>The Wallflowers</td>
      <td>A Proud Moment - Interview</td>
      <td>58760</td>
      <td>0</td>
      <td>0.13</td>
      <td>0.62</td>
      <td>0.11</td>
      <td>0.00</td>
      <td>0.36</td>
      <td>-15.49</td>
      <td>0.93</td>
      <td>169.12</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Dunn</td>
      <td>One More Roll of the Dice</td>
      <td>245187</td>
      <td>32</td>
      <td>0.03</td>
      <td>0.65</td>
      <td>0.85</td>
      <td>0.00</td>
      <td>0.40</td>
      <td>-3.97</td>
      <td>0.03</td>
      <td>104.11</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th>3</th>
      <td>James Newton Howard</td>
      <td>Transfer Command - From "The Hunger Games: Mockingjay Part 2" (Original Motion Picture Score)"</td>
      <td>494053</td>
      <td>7</td>
      <td>0.04</td>
      <td>0.12</td>
      <td>0.07</td>
      <td>0.75</td>
      <td>0.10</td>
      <td>-19.29</td>
      <td>0.04</td>
      <td>87.70</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Sheryl Crow</td>
      <td>If It Makes You Happy - Live</td>
      <td>303200</td>
      <td>25</td>
      <td>0.03</td>
      <td>0.43</td>
      <td>0.79</td>
      <td>0.00</td>
      <td>0.97</td>
      <td>-7.27</td>
      <td>0.03</td>
      <td>104.25</td>
      <td>0.34</td>
    </tr>
  </tbody>
</table>

In [50]:
billboard_df = billboard[['Artists', 'Name', 'Genre', 'Date']]
billboard_df.head()

,Artists,Name,Genre,Date
0,"Lil Nas,",Old Town Road,"Country,Atlanta,Alternative Country,Hip-Hop,Tr...",5-Apr-19
1,"Shawn Mendes, Camila Cabello",Senorita,Pop,21-Jun-19
2,Billie Eilish,Bad Guy,"Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...",29-Mar-19
3,Khalid,Talk,"Synth-Pop,Pop",7-Feb-19
4,"Ed Sheeran, Justin Bieber",I Don't Care,"Canada,UK,Dance,Dance-Pop,Pop",10-May-19

In [52]:
billboard_hmtl = billboard_df.head().to_html()
print(billboard_hmtl)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Artists</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Lil Nas,</td>
      <td>Old Town Road</td>
      <td>Country,Atlanta,Alternative Country,Hip-Hop,Trap,Memes,Remix,Country Rap,Rap</td>
      <td>5-Apr-19</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Shawn Mendes, Camila Cabello</td>
      <td>Senorita</td>
      <td>Pop</td>
      <td>21-Jun-19</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Billie Eilish</td>
      <td>Bad Guy</td>
      <td>Hip-Hop,Dark Pop,House,Trap,Memes,Alternative Dance,Alternative,Alternative Pop,Dance-Pop,Dance,Electro-Pop,Electro,Pop</td>
      <td>29-Mar-19</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Khalid</td>
      <td>Talk</td>
      <td>Synth-Pop,Pop</td>
      <td>7-Feb-19</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Ed Sheeran, Justin Bieber</td>
      <td>I Don't Care</td>
      <td>Canada,UK,Dance,Dance-Pop,Pop</td>
      <td>10-May-19</td>
    </tr>
  </tbody>
</table>